/*
Theme Name: DooPlay Child
Theme URI: https://doothemes.com/
Description: Child theme for DooPlay
Author: Doothemes
Author URI: https://doothemes.com/
Template: dooplay
Version: 1.0
*/

/* Add your custom CSS below this line */